
packages/
Services.Tests/obj/Debug/
Services/obj/Debug/
Web/obj/Debug/
Services.Tests/bin/Debug/
Domain/obj/Debug/
Domain.Tests/obj/Debug/
Blog/obj/Debug/
DataAccess/obj/Debug/
DataAccess.Tests/obj/Debug/
DataAccess/bin/Debug/
Domain.Tests/bin/Debug/
Domain/bin/Debug/
Services/bin/Debug/
Web/bin/
