DataAccess.Tests/obj/Debug/DataAccess.Tests.csproj.FileListAbsolute.txt
packages/
DataAccess.Tests/obj/Debug/
Services/obj/Debug/
Services.Tests/obj/Debug/
DataAccess/obj/Debug/
Domain.Tests/obj/Debug/
Domain/obj/Debug/
