@model Web.Models.BlogViewModel
@{
	string title = "Add Blog";
	ViewBag.Title = @title;
	Layout = "../Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
	<section>
		<h2>@title</h2>
		<section>
			@Html.DisplayNameFor(m => m.Author)
		</section>
		<section>
			@Html.TextBoxFor(m => m.Author)
		</section>
		<section>
			<input type="submit" value="Submit"/>
		</section>
	</section>
}