@using Web.Models
@model IEnumerable<BlogViewModel>

@{
	ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

@foreach (BlogViewModel model in Model)
{
	string authorLink = String.Format("View {0}'s blog", model.Author);
	<a href='@Url.Action("Index", "Blog", new { id = model.BlogId })'>@authorLink</a>
}
