@using Web.Models
@model IEnumerable<BlogViewModel>

@{
	Layout = "/Views/_Layout.cshtml";
	string title = "Blogs";
	ViewBag.Title = @title;
}

<section class="jumbotron">
	<h2>@title</h2>

	@foreach (BlogViewModel model in Model)
	{
		string authorLink = String.Format("View {0}'s blog", model.Author);
		<a href='@Url.Action("Index", "Blog", new {id = model.BlogId})'>@authorLink</a>
	}
</section>
