@using Web.Models
@model IEnumerable<BlogViewModel>

@{
	Layout = "../Shared/_Layout.cshtml";
	string title = "Blogs";
	ViewBag.Title = @title;
}

<section>
	<h2>@title</h2>
	<section>
		@foreach (BlogViewModel model in Model)
		{
			string authorLink = String.Format("View {0}'s blog", model.Author);
			<section>
				<a href='@Url.Action("Index", "Blog", new {id = model.BlogId})'>@authorLink</a>
			</section>
		}
	</section>
</section>
