@using Web.Models
@model IEnumerable<BlogViewModel>

@{
	Layout = "../Shared/_Layout.cshtml";
	string title = "Blogs";
	ViewBag.Title = @title;
}

<div>
	<h2>@title</h2>
	<div>
		@foreach (BlogViewModel model in Model)
		{
			string authorLink = String.Format("{0}'s blog", model.Author);
			<p>
				<a href='@Url.Action("Index", "Blog", new {id = model.BlogId})'>@authorLink</a>
			</p>
		}
	</div>
</div>
<div>
	<a class="btn btn-success btn-sm" href='@Url.Action("AddBlog", "Blog")'>
		<span class="glyphicon glyphicon-plus"></span>
		Add blog
	</a>
</div>
