<html>
<head>
	<link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li>@Html.ActionLink("Home", "Index", "Home")</li>
			<li>@Html.ActionLink("Add Blog", "AddBlog", "Blog")</li>
		</ul>
	</div>
@RenderBody()
</body>
</html>